*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

#top-banner{
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    background-color: gray;
    font-size: 45px;
}